# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environments
.env
backend/.env

# Uploads and generated media
backend/uploads/

# VS Code
.vscode/

# Node.js
node_modules/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
