# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environments
.env
backend/.env

# VS Code
.vscode/

# Node.js
node_modules/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# ML model artifacts
backend/model/*.pt
